.container {
    display: flex;
    justify-content: space-around;
    background-color: rgb(144, 82, 239);
    padding: 1rem;
    width: 80%;
    margin: auto;
    margin-top: 1rem;
    color: white;
    border-radius: 11px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.container span {
    text-transform: capitalize;
    background-color: rgb(229, 138, 11);
    padding: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
}